{% extends 'baseFront.html.twig' %}

{% block change %}
    <h1>Edit Reclamation</h1>

    {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('index_reclamation') }}">back to list</a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
