{% extends 'baseFront.html.twig' %}
{% block slider %}
{% endblock %}

{% block change %}
    <h1 class="mt-1 mb-1">Ajouter une réclamation</h1>

    {{ include('reclamation/_form.html.twig') }}



{% endblock %}
