{% extends 'frontClient.html.twig' %}

{% block slider %}
{% endblock %}

{% block body %}



    {{ include('review_client/_formnewclient.html.twig') }}

    <a href="{{ path('review_client_index_only') }}">back to list</a>


{% endblock %}


